html,
body {
  margin: 0px;
  height: 100%;
}
.bg_heart {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("https://wallpapers.com/images/hd/weathering-with-you-movie-poster-pb5akvnw3667iiqt.jpg");
  background-size: cover;
  z-index: -1;
  animation: untoldcoding 55s infinite ease-in-out;
}


@keyframes untoldcoding {
  0% {
    background-image: url("https://wallpapers.com/images/hd/weathering-with-you-movie-poster-pb5akvnw3667iiqt.jpg");
  }
  25% {
    background-image: url("https://wallpapercave.com/wp/wp13084880.jpg");
  }
  50% {
    background-image: url("https://i.pinimg.com/originals/0a/b2/da/0ab2da66fe845ea06e72a99738cfd9bd.jpg");
  }
  80% {
    background-image: url("https://i.pinimg.com/originals/5f/2d/aa/5f2daa0914f356637962e2cde0e7edca.jpg");
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: cursive;
}
